
@model People

<h3>Use this form to search StarWars People</h3>
<form action="/Home/PersonSearch" method="post">
    Id:  <input name="Id" type="number" />
    <input type="submit" value="submit" />

</form>
<br>
<br>

<h3>Use this form to search StarWars Planets</h3>
<form action="/Home/PlanetSearch" method="post">
    Id:  <input name="Id" type="number" />
    <input type="submit" value="submit" />
</form>
<br>
<br>

<h3>Check out this list of people in Star Wars!</h3>
<form action="/Home/Index" method="post">
    <select name="people">
        @foreach (Result r in Model.results)
        {
           <option value="@r.name">@r.name</option>
        }
    </select>
</form>
